html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: var(--font-size);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
    color: white;
    background-color: var(--red);
}
