* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

::selection {
    color: $color-white;
    background-color: $color-red;
}

::-moz-selection {
    color: $color-white;
    background-color: $color-red;
}

body {
    line-height: $base;
    letter-spacing: -.1px;
    color: $color-black;
    font-size: 18px;
    font-family: $font-meta;
    font-size: 18px;

    @mixin no-webfont {
        font-size: 17.5px;
    }
}
