* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

::selection {
    color: var(--color-white);
    background-color: var(--color-red);
}

::-moz-selection {
    color: var(--color-white);
    background-color: var(--color-red);
}

body {
    line-height: var(--baseline);
    letter-spacing: -.1px;
    color: var(--color-black);
    font-size: 17px;
    font-family: var(--font-main);
}
