.site-header {
    font-weight: 900;
    font-size: 20px;
    color: var(--color-red);
    margin-top: calc(var(--baseline) * .5);
    margin-bottom: var(--baseline);
}

.site-header__logotype {
    background: url('../svg/logotype.svg');
    display: block;
    width: calc(100px * .4);
    height: calc(40px * .4);
    
    /* Hide text */
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
