.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--container-padding));
    padding-right: calc(var(--container-padding));
    width: 100%;
    max-width: var(--container-size);
    
    /* IE workaround for `main` element */
    display: block;
}
