@define-mixin clearfix {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@define-mixin transition {
    transition: all .2s cubic-bezier(0, 0, 0, 1);
}

@define-mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    $color-white-space: nowrap;
}

@define-mixin block $width, $height: $width, $scale: 1 {
    display: block;
    width: calc($width * $scale);
    height: calc($height * $scale);
}

@define-mixin inline-block $width, $height: $width {
  display: inline-block;
  width: calc($width * $scale);
  height: calc($height * $scale);
}

@define-mixin grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc($grid-gutter / 2);
    padding-right: calc($grid-gutter / 2);
    width: 100%;
    max-width: $grid-container;
}

@define-mixin grid-columns $span, $columns {
    flex: 0 0 calc(100% / $columns * $span);
}

@define-mixin make-columns $columns {
    @for $span in 1 to $columns {
        .grid__col--$span\/$columns {
            @mixin grid-columns $span, $columns;
        }
    }
}
