$font-size: 18px;
$line-height: 28px;

$color-white: #fff;
$color-black: #222;
$color-gray--dark: #8d8d8d;
$color-gray: #d0d0d0;
$color-gray--light: #e2e2e2;
$color-gray--lighter: #efefef;
$color-gray--lightest: #f5f5f5;
$color-red: #d66056;

$font-meta: 'ff-meta-web-pro', -apple-system, BlinkMacSystemFont, sans-serif;
$font-hack: 'Hack', 'Lucida Console', 'Lucida Sans Typewriter', monospace;

$breakpoint-sm: 576px;
$breakpoint-lg: 720px;

$grid-gutter: 30px;
$grid-container: 720px;
