:root {
    --baseline: 25px;

    --color-white: #fff;
    --color-black: #222;
    --color-gray--dark: #8c8b8b;
    --color-gray: #d0d0d0;
    --color-gray--light: #e2e2e2;
    --color-gray--lighter: #efefef;
    --color-gray--lightest: #f5f5f5;
    --color-red: #d66056;

    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-mono: 'Source Code Pro', 'Lucida Console', 'Lucida Sans Typewriter', monospace;

    --breakpoint-sm: 480px;

    --container-padding: 15px;
    --container-size: 720px;

    --transition-curve: cubic-bezier(0, 0, 0, 1);
}