.v-home {
    margin-top: calc(4 * $line-height);
    margin-bottom: $line-height;
    color: $color-white;
}

.v-home__intro {

    a {
        @mixin transition;

        border-bottom: 4px solid color($color-white a(.2));
    }
}

.v-home__toc {

    a {
        @mixin transition;

        border-bottom: 3px solid color($color-white a(.2));
    }
}

.v-home__footer {

    .btn {
        margin-right: .33em;
    }
}
