.projects {
    margin: 1rem 0;
}

.projects__title {
    margin-left: 20px;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 24px;
}

.projects__project {
    position: relative;
    width: calc(50% - 40px);
    margin: 20px;
    padding: 1em 1.5em 1.5em;
    transition: all .2s ease-in-out;
    color: white;
}

.projects__project:hover {
    transform: translateY(-1px);
}

.projects__project:before {
    @apply --pseudo-block;

    z-index: -1;
    background-color: #c3bebe;
}

.projects__project__name__text {
    top: -4px;
    position: relative;
    margin-left: 3px;
}

.projects__project__description {
    font-size: .8em;
    line-height: 1.5;
}