.v-article__header {
    margin-bottom: $base;
}

.v-article__header__title {
    font-size: 33px;
    font-weight: 900;
    margin-bottom: calc($base * .125);
}

.v-article__header__meta {
    font-size: 14px;
    color: $color-gray--dark;
    margin-bottom: $base;
}

.v-article__body {

    a {
        border-bottom: 3px solid $color-gray--lighter;
        @mixin transition;

        &:hover {
            border-bottom-color: $color-gray--light;
        }
    }

    > * {
        margin-bottom: $line-height;
    }

    h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: calc(.75 * $line-height);
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: $color-gray--dark;
        margin-bottom: 0;
    }

    p code {
        font-size: 15px;
        font-family: $font-hack;
        background: $color-gray--lightest;
    }

    p + pre {
        margin-top: calc(-.5 * $line-height);
    }

    .hljs {
        border-radius: 2px;
        background: $color-gray--lightest;
        box-shadow: 0 2px 0 $color-gray--lighter;
        padding: .5em 1em;
        font-size: 14px;
        margin-left: -.3em;
        margin-right: -.3em;
        font-family: $font-hack;
        line-height: 1.5;
    }

    ul > li {
        padding-left: calc(.6 * $line-height);
        position: relative;

        &:before {
            content: "•";
            position: absolute;
            left: 0;
        }
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }

    blockquote {
        padding: 1em;
        margin-left: -.3em;
        margin-right: -.3em;
        background: $color-gray--lightest;
        border-left: 3px solid $color-red;
        border-radius: 0 2px 2px 0;
    }

    .donger {
        font-size: 14px;
    }
}

.v-article__comments {
    margin-top: calc($base * 2);
}

.v-article__footer {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    margin-top: calc($base * 2);

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -25px;
        width: 25px;
        height: 1px;
        background-color: $color-gray;
    }

    a {
        text-decoration: underline;
        @mixin transition;

        &:hover {
            color: $color-gray--dark;
        }
    }
}

.v-article__footer__credits {
    margin-bottom: calc($base * .5);
}

.v-article__footer__about {
    margin-bottom: $base;
}
