.v-error {
    color: $color-white;
    text-align: center;
    margin-top: calc($base * 3);
    margin-bottom: $base;
}

.v-error__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: calc($base * .5);
}

.v-error__message {
    margin-bottom: $base;
}

.v-error__return {
    font-size: 20px;
}
