.v-article__site-header {
    font-weight: 900;
    font-size: 20px;
    color: var(--color-red);
    margin-top: calc(var(--baseline) * 3);
    margin-bottom: calc(var(--baseline) * .25);
}

@media only screen and (max-width: 480px) {

    .v-article__site-header {
        margin-top: var(--baseline);
    }
}

.v-article__site-header__logotype {
    background: url('../svg/logotype.svg');
    display: block;
    width: calc(100px * .4);
    height: calc(40px * .4);
    
    /* Hide text */
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.v-article__header {
    position: relative;
    margin-bottom: calc(var(--baseline) * 4);
}

.v-article__header:after {
    content: '';
    position: absolute;
    bottom: calc(var(--baseline) * -1.5);
    left: 0;
    width: 50%;
    height: 1px;
    background-color: var(--color-gray--light);
}

@media only screen and (max-width: 480px) {
    
    .v-article__header {
        margin-bottom: calc(var(--baseline) * 2);
    }

    .v-article__header:after {
        bottom: calc(var(--baseline) * -.5);
    }
}

.v-article__header__title {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 5px;
    width: 75%;
}

@media only screen and (max-width: 480px) {
    .v-article__header__title {
        width: 100%;
    }
}

.v-article__header__meta {
    font-size: 14px;
    color: var(--color-gray--dark);
}

.v-article__body a {
    border-bottom: 3px solid var(--color-gray--lighter);
    transition: border .2s var(--transition-curve);
}

.v-article__body a:hover {
    border-bottom-color: var(--color-gray--light);
}

.v-article__body > * {
    margin-bottom: var(--baseline);
}

.v-article__body h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: calc(var(--baseline) * 2);
    margin-bottom: var(--baseline);
}

.v-article__body h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: calc(var(--baseline) * 2);
    margin-bottom: calc(var(--baseline) * .5);
}

.v-article__body code {
    font-family: var(--font-mono);
    background: var(--color-gray--lightest);
}

.v-article__body p code {
    font-size: .95em;
}

.v-article__body p + pre {
    margin-top: calc(-.25 * var(--baseline));
    margin-bottom: calc(.75 * var(--baseline));
}

.v-article__body .hljs {
    border-radius: 2px;
    background: var(--color-gray--lightest);
    box-shadow: 0 2px 0 var(--color-gray--lighter);
    padding: .5em 1em;
    font-size: 14px;
    margin-left: -.3em;
    margin-right: -.3em;
    font-family: var(--font-mono);
    line-height: 1.5;
}

.v-article__body ul > li {
    padding-left: calc(.6 * var(--baseline));
    position: relative;
}

.v-article__body ul > li:before {
    content: "•";
    position: absolute;
    left: 0;
}

.v-article__body ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.v-article__body blockquote {
    padding: 1em;
    margin-left: -.3em;
    margin-right: -.3em;
    background: var(--color-gray--lightest);
    border-left: 3px solid var(--color-red);
    border-radius: 0 2px 2px 0;
}

.v-article__body .donger {
    font-size: 14px;
}

.v-article__footer {
    position: relative;
    font-size: 13px;
    line-height: 1.4;
    padding-top: var(--baseline);
    border-top: 2px solid var(--color-gray--lighter);
    margin-top: calc(var(--baseline) * 3);
}

.v-article__footer:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -25px;
    width: 25px;
    height: 1px;
    background-color: --color-gray;
}

.v-article__footer a {
    text-decoration: underline;
    transition: color .2s var(--transition-curve);
}

.v-article__footer a:hover {
    color: var(--color-gray--dark);
} 

.v-article__footer__credits {
    margin-bottom: calc(var(--baseline) * .5);
}

.v-article__footer__about {
    margin-bottom: var(--baseline);
}
