.error {
    color: var(--color-white);
    text-align: center;
    margin-top: calc(var(--baseline) * 3);
    margin-bottom: var(--baseline);
}

.error__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: calc(var(--baseline) * .5);
}

.error__message {
    margin-bottom: var(--baseline);
}
