:root {
    --text: #1f211f;
    --text-light: #5e6669;
    --text-lighter: #a7b3b7;
    --text-highlight: #60b1b9;
    --secondary-background: #f4f8fa;
    --border-color: #d1d1d1;
    --sans: Karla, system-ui, sans-serif;
    --mono: Space Mono, system-ui;
    --code: Fira Code, monospace;
    --gutter: 1.5rem;
}

@media (min-width: 720px) {
    :root {
        --gutter: 3rem;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

button {
    appearance: none;
    border: none;
    cursor: pointer;
}

html {
    font-size: 18px;
    line-height: 1.65;
}

body {
    color: var(--text);
    font-family: var(--sans);
}
