.post-wrapper {
    padding-bottom: 4rem;
}

.post-wrapper:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 4rem;
}

.post.single {
    padding-bottom: 3rem;
}

.post-header {
    line-height: 1.2;
    margin-bottom: 3rem;
    text-align: center;
}

.post-title {
    font-family: var(--mono);
    font-size: 1.2rem;
    font-weight: bold;
}

.post-subtitle {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-top: 0.33rem;
}
