* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

::selection {
  color: $white;
  background-color: $red;
}

::-moz-selection {
  color: $white;
  background-color: $red;
}

html {
  font-size: $lh;
}

body {
  font-size: 17px;
  line-height: $lh;
  color: $black;
  font-family: $source-sans-pro;
}
