* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

::selection {
    color: color(white);
    background-color: color(red);
}

::-moz-selection {
    color: color(white);
    background-color: color(red);
}

body {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: -.1px;
    color: color(black);
    font-family: font(meta);
}
