@define-mixin transition {
    transition: all .2s cubic-bezier(0, 0, 0, 1);
}

@define-mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    $color-white-space: nowrap;
}

@define-mixin block $width, $height: $width, $scale: 1 {
    display: block;
    width: $width * $scale;
    height: $height * $scale;
}

@define-mixin inline-block $width, $height: $width {
  display: inline-block;
  width: $width * $scale;
  height: $height * $scale;
}
