.fw\:bold { font-weight: 700; }
.fw\:xbold { font-weight: 900; }

.fs\:12 { font-size: 12px; }
.fs\:14 { font-size: 14px; }
.fs\:16 { font-size: 16px; }
.fs\:17 { font-size: 17px; }
.fs\:20 { font-size: 20px; }
.fs\:25 { font-size: 25px; }
.fs\:27 { font-size: 27px; }
.fs\:33 { font-size: 33px; }

.lh\:1\ { line-height: 1 }
.lh\:1\.25 { line-height: 1.25 }
.lh\:1\.5 { line-height: 1.5 }

.tt\:upper { text-transform: uppercase; }

.ls\:03 { letter-spacing: .03em; }
.ls\:06 { letter-spacing: .06em; }
