.v-home {
    margin-top: 4*$line-height;
    margin-bottom: $line-height;
    color: color(white);
}

.v-home__intro {

    a {
        border-bottom: 4px solid white(.2);
        @include transition;
    }
}

.v-home__toc {

    a {
        border-bottom: 3px solid white(.2);
        @include transition;
    }
}

.v-home__footer {

    .btn {
        margin-right: .33em;
    }
}
