body.error404 {
    background: color(red);
}

.v-404 {
    padding: 3rem 0 1rem;
    color: color(white);
    text-align: center;

    h1 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    a {
        font-size: 1.5em;
        display: inline-block;
    }
}
