.layout {
    display: flex;
    max-width: 53rem;
    margin: 0 auto;
}

.layout-content {
    flex: 1;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

.layout-ad {
    width: 13rem;
    height: 100vh;
    max-height: 900px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
}
