.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: var(--gutter);
}

.pagination li {
    margin: 0 0.5rem;
    color: var(--text-light);
    font-size: 0.85rem;
}

.pagination li:not(.active):not(.disabled) a:not([rel]) {
    text-decoration: underline;
}

.pagination li.disabled {
    opacity: 0.25;
}
