.post-header {
    line-height: 1.2;
    text-align: center;
}

.post-title {
    font-family: var(--mono);
    font-size: 1.2rem;
    font-weight: bold;
}

.post-subtitle {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-top: 0.33rem;
}

.post-related {
    border-top: 1px solid var(--border-color);
    font-size: 0.9rem;
    padding-top: 1.25rem;
}
