.post {
    margin-bottom: 8rem;
    position: relative;
}

.post:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4.5rem;
    height: 1rem;
    z-index: -1;
    background:repeating-linear-gradient(
        45deg,
        var(--border-color),
        var(--border-color) 1px,
        transparent 1px,
        transparent 9px
        ),repeating-linear-gradient(
        -45deg,
        var(--border-color),
        var(--border-color) 1px,
        transparent 1px,
        transparent 9px
        );
}

.post-header {
    line-height: 1.5rem;
    text-align: center;
    background: white;
    margin-bottom: 3rem;
}

.post-title {
    font-family: var(--mono);
    font-size: 1.2rem;
    font-weight: bold;
}

.post-subtitle {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-top: 0.33rem;
}

.post-related {
    font-size: 0.9rem;
}
