.h-margin-top { margin-top: var(--baseline) !important; }
.h-half-margin-top { margin-top: var(--half-baseline) !important; }
.h-double-margin-top { margin-top: var(--double-baseline) !important; }
.h-triple-margin-top { margin-top: var(--triple-baseline) !important; }

.h-margin-right { margin-right: var(--grid-gutter) !important; }
.h-half-margin-right { margin-right: var(--half-grid-gutter) !important; }
.h-double-margin-right { margin-right: var(--double-grid-gutter) !important; }
.h-triple-margin-right { margin-right: var(--triple-grid-gutter) !important; }

.h-margin-bottom { margin-bottom: var(--baseline) !important; }
.h-half-margin-bottom { margin-bottom: var(--half-baseline) !important; }
.h-double-margin-bottom { margin-bottom: var(--double-baseline) !important; }
.h-triple-margin-bottom { margin-bottom: var(--triple-baseline) !important; }

.h-margin-left { margin-left: var(--grid-gutter) !important; }
.h-half-margin-left { margin-left: var(--half-grid-gutter) !important; }
.h-double-margin-left { margin-left: var(--double-grid-gutter) !important; }
.h-triple-margin-left { margin-left: var(--triple-grid-gutter) !important; }
