.h-width-one-third {
    width: calc(100% / 3) !important;
}

@media(--small) {
    .h-width-one-third { width: 100% !important; }
}

.h-width-two-thirds {
    width: calc(100% / 3 * 2) !important;
}

@media(--small) {
    .h-width-two-thirds { width: 100% !important; }
}
