.article__header {
    text-align: center;
    padding-top: var(--double-baseline);
    padding-bottom: var(--double-baseline);
}

.article__header__logotype {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--baseline);
}

.article__header__title {
    font-family: var(--header-font);
    font-size: var(--font-size-xl);
    line-height: var(--one-and-a-half-baseline);
    margin-bottom: var(--half-baseline);
}

.article__header__meta {
    font-family: var(--header-font);
    color: var(--light-text-color);
}

.article__header__meta__link {
    color: inherit;
    text-decoration: underline;
}

.article__body {
    background-color: white;
    color: var(--dark-text-color);
    padding: var(--double-baseline) 0 var(--one-and-a-half-baseline);
}

.article__body a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--light-text-color);
}

.article__body h2 {
    font-size: var(--font-size-l);
    font-family: var(--header-font);
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    color: var(--text-color);
}

.article__body h3 {
    font-weight: 500;
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
}

.article__body p {
    margin-bottom: var(--baseline);
}

.article__body strong {
    font-weight: 500;
}

.article__body em {
    font-style: italic;
}

.article__body ul {
    margin-bottom: var(--baseline);
    list-style: disc;
    margin-left: var(--half-baseline);
}

.article__body ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.article__body code {
    font-size: .9em;
    font-family: var(--mono-font);
    font-style: normal !important;
    border-radius: 1px;
    background: var(--body-background);
    border: 1px solid color(var(--light-gray) blackness(5%));
    padding: 0 .2em;
}

.article__body pre {
    margin-bottom: var(--baseline);
}

.article__body pre code {
    @apply --pull-out;

    padding: var(--baseline);
    padding-right: var(--half-baseline);
    display: block;
    border-radius: 1px;
    border: 1px solid color(var(--light-gray) blackness(5%));
    background: var(--body-background);
    box-shadow: 1px 2px 0 #fbf8f8;
}

@media(--small) {
    .article__body pre code {
        margin-left: calc(var(--half-grid-gutter) * -1);
        margin-right: calc(var(--half-grid-gutter) * -1);
        padding: var(--half-grid-gutter);
        padding-right: calc(var(--half-grid-gutter) / 2);
        font-size: .8em;
        border-left: none;
        border-right: none;
    }
}

.article__body blockquote {
    @apply --pull-out;
    @apply --white-box;

    padding: var(--baseline);
    margin-bottom: var(--baseline);
}

.article__body blockquote p {
    margin-bottom: 0;
}

.article__body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.article__body hr {
    @apply --pull-out;
    margin-top: var(--double-baseline);
    margin-bottom: var(--double-baseline);
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.article__body aside {
    font-size: var(--font-size-s);
    line-height: var(--dot-seventy-five-baseline);
    font-style: italic;
    color: var(--light-text-color);
    margin-bottom: var(--baseline);
}

.article__footer {
    font-size: var(--font-size-s);
    line-height: var(--dot-seventy-five-baseline);
    padding-top: var(--one-and-a-half-baseline);
    padding-bottom: var(--one-and-a-half-baseline);
}

.article__footer__link {
    color: inherit;
}

.article__footer__p {
    margin-bottom: var(--dot-seventy-five-baseline);
}
