.blogroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gutter);
    grid-template-areas:
        "php javascript css_frontend"
        "php javascript other";
    margin-bottom: var(--one-and-a-half-baseline);
}

.blogroll__title {
    color: var(--light-text-color);
    font-size: var(--font-size-s);
}

.blogroll__link {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.blogroll__link:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--light-gray);
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform .2s ease-out;
}

.blogroll__link:hover:after {
    transform: scaleX(1);
}

html.touch .blogroll__link:hover:after {
    transform: scaleX(0);
}
