.blogroll__category {
    margin-bottom: var(--double-baseline);
}

.blogroll__title {
    position: relative;
    color: var(--red);
    font-size: var(--font-size-s);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--three-quarter-baseline);
}

.blogroll__item {
    margin-bottom: var(--half-baseline);
}

.blogroll__item:last-child {
    margin-bottom: 0;
}

.blogroll__item__description {
    display: block;
    max-width: 18em;
    font-style: italic;
    color: var(--light-text-color);
    font-size: var(--font-size-s);
    line-height: var(--three-quarter-baseline);
}
