.button {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: .5em .66em;
    border: 1px solid var(--color-gray--light);
    margin-right: 1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    transition: all .2s var(--transition-curve);
}

.button:hover {
    transform: translateY(-1px);
    border-color: color(var(--color-gray--light) shade(5%));
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}
