.card {
    background-color: white;
    padding: calc(var(--grid-gutter));
    border: 1px solid var(--color-ui-gray--light);
    border-radius: 1px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow .3s ease-out, transform .2s ease-out;
}

.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

.card__title {
    font-weight: 500;
    margin-bottom: 6px;
}