.card {
    @apply --white-box;

    display: block;
    position: relative;
    padding: 18px 23px 23px;
    margin-bottom: var(--grid-gutter);
    transition: all .2s ease-out;
}

.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07);
    border-color: color(var(--color-gray--light) shade(5%));
}

.card__icon {
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.card__title {
    font-weight: 500;
    margin-bottom: 11px;
}