.card {
    @apply --white-box;

    display: block;
    position: relative;
    height: calc(100% - var(--grid-gutter));
    padding: var(--half-baseline) 1.4rem var(--half-baseline);
    text-decoration: none;
    color: inherit;
    margin-bottom: var(--grid-gutter);
    transition: all .2s ease-out;
}

.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07);
    border-color: color(var(--light-gray) shade(5%));
}

.card:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07);
    border-color: color(var(--light-gray) shade(5%));
}

.card__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: .6rem;
}

.card__title__icon {
    margin-right: .6rem;
    line-height: 0; /* Required to vertically align the icon and the title */
}

.card__text {
    font-size: var(--font-size-s);
    line-height: var(--dot-seventy-five-baseline);
}
