.error {
    margin-top: 20vh;
    text-align: center;
}

.error__title {
    font-family: var(--header-font);
    font-size: 3rem;
    margin-bottom: .3rem;
    line-height: 1;
}

.error__message {
    margin-bottom: 1.2rem;
}
