.footer {
    position: relative;
    padding-bottom: 1.2rem;
    font-size: .7rem;
    color: var(--light-text-color);
}

.footer__link {
    color: inherit;
    text-decoration: underline;
}

.footer__link.-subtle {
    text-decoration: none;
}
