.footer {
    position: relative;
    padding: 1.2rem 0;
    font-size: .7rem;
    color: var(--light-text-color);
}

.footer:before {
    @apply --little-seperator;

    bottom: auto;
    top: 0;
}

.footer__link {
    color: inherit;
    text-decoration: underline;
}

.footer__link.-subtle {
    text-decoration: none;
}
