.footer {
    display: flex;
    position: relative;
    padding-bottom: 1.2rem;
    font-size: .7rem;
    color: var(--light-text-color);
}

.footer__rss {
    opacity: .5;
    margin-left: auto;
    transition: .2s ease-in-out opacity;
}

.footer__rss:hover {
    opacity: 1;
}
