.container {
    width: 100%;
    max-width: var(--grid-container);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
}

@media(--small) {
    .container {
        padding-left: calc(var(--grid-gutter) / 2);
        padding-right: calc(var(--grid-gutter) / 2);
    }
}

.container.-wide {
    max-width: var(--wide-grid-container);
}

.container.-pull-out {
    max-width: calc(var(--grid-container) + var(--double-grid-gutter));
}

@media(--medium) {
    .container.-pull-out {
        max-width: var(--grid-container);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter) / 2 * -1);
    margin-right: calc(var(--grid-gutter) / 2 * -1);
}

.column {
    width: 100%;
    margin-left: calc(var(--grid-gutter) / 2);
    margin-right: calc(var(--grid-gutter) / 2);
}

.column.-half {
    width: calc(50% - var(--grid-gutter));
}

@media(--medium) {
    .column.-half { width: 100%; }
}

.column.-third {
    width: calc(33.33% - var(--grid-gutter));
}

@media(--medium) {
    .column.-third { width: calc(50% - var(--grid-gutter)); }
}

@media(--small) {
    .column.-third { width: 100%; }
}

.column.-two-thirds {
    width: calc(66.66% - var(--grid-gutter));
}

@media(--medium) {
    .column.-two-thirds { width: 100%; }
}
