.container {
    width: 100%;
    max-width: var(--grid-container);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-gutter);
    padding-right: var(--grid-gutter);
}

.container--narrow {
    max-width: var(--grid-container--narrow);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter) / 2 * -1);
    margin-right: calc(var(--grid-gutter) / 2 * -1);
}

.column {
    margin-left: calc(var(--grid-gutter) / 2);
    margin-right: calc(var(--grid-gutter) / 2);
}

.column--half {
    width: calc(50% - var(--grid-gutter));
}

.column--two-thirds {
    width: calc(66.66% - var(--grid-gutter));
}

@media (--medium) {
    .column {
        width: 100%;
    }
}

@media (--small) {
    .container {
        padding-left: calc(var(--grid-gutter) / 2);
        padding-right: calc(var(--grid-gutter) / 2);
    }
}