.header {
  @apply pt-4;
  @apply px-4;

  @screen md {
    @apply fixed;
    @apply pin-t;
    @apply pt-6;
    @apply px-8;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    max-width: 960px;
  }
}

body.is-home .header {
  @apply border-none;
}

.header-nav {
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  @apply border-b;
  @apply pb-3;

  @screen md {
    @apply flex-row;
    @apply items-end;
  }
}

.header-menu {
  @apply flex;
  @apply justify-center;
  @apply mt-3;
  @apply text-grey ;
  @apply text-sm;

  @screen md {
    @apply justify-end;
    @apply mt-0;
    @apply text-xs;
  }
}

.header-menu li {
  @apply relative;
}

.header-menu li:not(:first-child) {
  @apply ml-4;

  @screen md {
    @apply ml-6;
  }
}

.header-menu li.is-active {
  @apply text-black;
}

.header-menu li.is-active:after {
  @apply absolute;
  @apply pin-x;
  @apply bg-red;
  bottom: -0.8rem;
  height: 1px;
  content: '';
}
