.header {
  @apply fixed;
  @apply flex;
  @apply items-end;
  @apply justify-between;
  @apply pin-t;
  @apply pt-3;
  @apply px-4;
  left: 50%;
  max-width: 960px;
  transform: translate3d(-50%, 0, 0);
  width: 100%;
}
