.icon svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon.-s svg {
    width: 14px;
    height: 14px;
}

.icon.-xs svg {
    width: 10px;
    height: 10px;
}
