.intro {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

.intro:after {
    @apply --little-seperator;
}

.intro__logotype {
    margin-bottom: 50px;
}

.intro__title {
    color: var(--color-red);
    text-transform: lowercase;
    font-family: var(--font-source-sans-pro);
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.intro__text {
    font-family: var(--font-alegreya);
    font-size: 1.7rem;
    line-height: 1.25;
}

.intro__text.-small {
    font-family: var(--font-default);
    font-size: 1rem;
    line-height: var(--baseline);
}

@media (--medium) {
    .intro__text {
        font-size: 1.4rem;
    }
}

.intro__text + * {
    margin-top: 40px;
}

.intro__text + .intro__text {
    margin-top: 20px;
}

.intro__buttons {
    margin-top: 30px;
    font-size: .9rem;
}