.introduction {
  @apply font-serif;
  @apply mb-12;

  @screen sm {
    @apply mb-20;
    @apply pt-20;
    @apply text-lg;
    @apply tracking-wide;
  }

  @screen md {
    @apply mb-32;
  }
}

.introduction br {
  @apply hidden;

  @screen sm {
    @apply inline;
  }
}

.introduction strong {
  @apply text-red;
  @apply font-medium;
}

.introduction strong a {
  @apply underline;
  display: inline-block;
  transition: color 0.15s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.introduction strong a:hover {
  @apply text-red-dark;
}

.introduction strong a:active {
  transform: translate3d(0, 1px, 0);
}
