.intro {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

.intro:after {
    @apply --little-seperator;
}

.intro__logotype {
    margin-bottom: 50px;
}

.intro__title {
    color: var(--color-red);
    text-transform: lowercase;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

.intro__text {
    font-family: var(--font-alegreya);
    font-size: 30px;
    line-height: 1.25;
}

@media (--medium) {
    .intro__text {
        font-size: 25px;
    }
}

.intro__text + * {
    margin-top: 40px;
}

.intro__text--small {
    font-size: 24px;
    line-height: var(--baseline);
}