.list-group {
    margin-bottom: var(--baseline);
}

.list-group__title {
    color: var(--light-text-color);
    font-size: var(--font-size-s);
}

.list-group__title,
.list-group__item {
    margin-bottom: var(--quarter-baseline);
}

.list-group__link {
    color: inherit;
    text-decoration: none;
}
