.nav__item {
    display: inline;
    font-weight: 500;
    margin-right: 1.4rem;
    position: relative;
}

.nav__item:after {
    content: '';
    position: absolute;
    right: -.7em;
    bottom: 6px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--light-gray);
}

.nav__item:last-child:after {
    display: none;
}
