.post__header {
    padding-bottom: var(--double-baseline);
}

.post__header__logotype {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--baseline);
}

.post__header__title {
    font-family: var(--header-font);
    font-size: var(--font-size-xl);
    line-height: var(--one-and-a-half-baseline);
}

.post__header__meta {
    font-family: var(--header-font);
    color: var(--light-text-color);
}

.post__header__meta__link {
    color: inherit;
    text-decoration: underline;
}

.post__body {
    background-color: white;
    color: var(--dark-text-color);
    padding: var(--double-baseline) 0 var(--one-and-a-half-baseline);
}

.post__footer {
    font-size: var(--font-size-s);
    line-height: var(--three-quarter-baseline);
    padding-top: var(--one-and-a-half-baseline);
    padding-bottom: var(--one-and-a-half-baseline);
}

.post__footer__link {
    color: inherit;
    text-decoration: underline;
}

.post__footer__link.-subtle {
    text-decoration: none;
}

.post__footer__p {
    margin-bottom: var(--three-quarter-baseline);
}
