.post-contents a {
    box-shadow: inset 0 -0.333em 0 0 var(--light-gray);
}

.post-contents h2 {
    font-size: var(--font-size-l);
    font-family: var(--header-font);
    margin-top: var(--double-baseline);
    margin-bottom: var(--baseline);
    color: var(--text-color);
}

.post-contents h3 {
    font-weight: 500;
    margin-bottom: var(--baseline);
}

.post-contents p {
    margin-bottom: var(--baseline);
}

.post-contents strong {
    font-weight: 500;
}

.post-contents em {
    font-style: italic;
}

.post-contents ul {
    margin-bottom: var(--baseline);
    list-style: disc;
    margin-left: var(--half-baseline);
}

.post-contents ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.post-contents code {
    font-size: .9em;
    font-family: var(--mono-font);
    font-style: normal !important;
    border-radius: 1px;
    background: var(--body-background);
    border: 1px solid color(var(--light-gray) blackness(5%));
    padding: 0 .2em;
}

.post-contents pre {
    margin-bottom: var(--baseline);
}

.post-contents pre code {
    padding: var(--baseline);
    padding-right: var(--half-baseline);
    margin-left: -.3em;
    margin-right: -.3em;
    display: block;
    border-radius: 1px;
    border: 1px solid color(var(--light-gray) blackness(5%));
    background: var(--body-background);
    box-shadow: 1px 2px 0 #fbf8f8;
}

@media(--small) {
    .post-contents pre code {
        margin-left: calc(var(--half-grid-gutter) * -1);
        margin-right: calc(var(--half-grid-gutter) * -1);
        padding: var(--half-grid-gutter);
        padding-right: calc(var(--half-grid-gutter) / 2);
        font-size: .8em;
        border-left: none;
        border-right: none;
    }
}

.post-contents blockquote {
    position: relative;
    padding-left: var(--one-and-a-half-baseline);
    padding-right: var(--baseline);
    margin-bottom: var(--baseline);
}

@media(--small) {
    padding-right: 0;
}

.post-contents blockquote:before {
    content: '“';
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 1;
    font-weight: bold;
    font-size: 80px;
    color: var(--light-gray);
}

.post-contents blockquote * {
    position: relative;
    z-index: 2;
    font-style: italic;
}

.post-contents img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post-contents hr {
    margin: var(--double-baseline) -.3em;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

.post-contents aside {
    font-size: var(--font-size-s);
    line-height: var(--three-quarter-baseline);
    font-style: italic;
    color: var(--light-text-color);
    margin-bottom: var(--baseline);
}

.post-contents aside a {
    box-shadow: none;
    text-decoration: underline;
}
