.post-excerpt {
    background-color: white;
    color: var(--dark-text-color);
    border-radius: 1px;
    border: 1px solid var(--light-gray);
    padding: var(--baseline);
    margin: 0 calc(var(--baseline) * -1) var(--baseline);
}

.post-excerpt__date {
    font-size: var(--font-size-s);
    color: var(--light-text-color);
}

.post-excerpt__title {
    font-family: var(--header-font);
    font-size: var(--font-size-l);
    color: var(--dark-text-color);
    margin-bottom: var(--baseline);
}

.post-excerpt__title__link {
    transition: .2s ease-in-out opacity;
}

.post-excerpt__title__link:hover {
    opacity: .8;
}

.post-excerpt__readmore {
    display: inline-block;
    color: var(--red);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-size-s);
}

.post-excerpt__readmore {
    transition: .2s ease-in-out opacity;
}

.post-excerpt__readmore:hover {
    opacity: .8;
}
