:root {
    --pseudo-block: {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    };

    --white-box: {
        background-color: white;
        border-radius: 1px;
        border: 1px solid var(--light-gray);
    };

    --pull-out: {
        margin-left: -.3em;
        margin-right: -.3em;
    };
}
