:root {
    --typographic-scale: 1.5;
    --font-size: 18px;
    --font-size-l: 27px;
    --font-size-xl: 40px;
    --font-size-s: 14px;
    --baseline: 32px;
    --double-baseline: calc(var(--baseline) * 2);
    --triple-baseline: calc(var(--baseline) * 3);
    --half-baseline: calc(var(--baseline) * .5);
    --quarter-baseline: calc(var(--baseline) * .25);
    --one-and-a-half-baseline: calc(var(--baseline) * 1.5);
    --dot-seventy-five-baseline: calc(var(--baseline) * .75);

    --body-background: #fdfbfb;
    --red: #df6d6d;
    --text-color: #555;
    --light-text-color: #a5a5a5;
    --dark-text-color: #444;
    --light-gray: #e8e8e8;

    --body-font: 'Fira Sans', system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --header-font: 'Alegreya', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --mono-font: 'Source Code Pro', 'Lucida Console', 'Lucida Sans Typewriter', monospace;

    --grid-container: 760px;
    --wide-grid-container: 1200px;

    --grid-gutter: var(--baseline);
    --half-grid-gutter: calc(var(--grid-gutter) / 2);

    --transition-curve: cubic-bezier(0, 0, 0, 1);
}
